version: "3.8"

services:
  storybook:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "6006:6006"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development

  loki:
    image: obartra/loki
    ports:
      - "3100:3100"
      - "35729:35729"
    volumes:
      - ./loki-reports:/loki/reports
    depends_on:
      - storybook
